/* Excercise 4.1: */
/* div{
    text-align: center;
    font-size: 15px;
    background-color: #d0f0c0;
    border: 1px solid green;
} */

/* Excercise 4.6: */
/* div{
    font-size: 15px;
    background-color: #d0f0c0;
    border: 1px solid green;
} */

